.search_input{
	display:flex;
	justify-content:center;
	
	border:1px solid lightgray;
	border-radius:999px;
	padding:10px 20px;
	height:23px;
	width:65vw;
	margin-top:40px;
	max-width:540px;


}
.search_input > input {
	flex:1;
	display:flex;
	margin-right:10px;
	margin-left:10px;
	border:none;

	font-size:medium;
}
.search_input > input:focus{
	outline-width:0;
}
.search_icon {
	color:gray;
}
.search_buttons_{
	margin-top:30px;
	display:flex;
	justify-content:center;
}
.search_buttons_ button{
	margin:5px;
	padding:7px 15px;
	background-color:#f8f8f8;
	border: 1px solid white;
	text-transform:inherit;
	color:#5f6368;
	font-weight:100;
}

.search_buttons_ button:hover{
color:black;
}

.search_buttons_hide{
	display:none;
}

